<!-- ======= Footer ======= -->
<footer id="footer">


  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>P I P<span></span></h3>
          <p>
            Sfax <br>

            <strong>Phone:</strong> +2 16 20 124 654<br>
            <strong>Email:</strong> pip@pip.com.tn<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#Reference">reference</a></li>

          </ul>
        </div>



        <div class="col-lg-3 col-md-12 footer-links">
          <h4>Our Social Networks</h4>
          <p></p>
          <div class="social-links mt-3">
            <a href="#" class="email"><i class="icofont-envelope"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>

          </div>
        </div>

      </div>
    </div>
  </div>


</footer><!-- End Footer -->

