<div class="row">
  <div class="col-md-6 col-sm-6">
<div class="card-container">
  <div class="card">
      <div class="front">
          <div class="cover">
              <img src="assets/img/pip4.png">
          </div>
          <div class="user">
              <img class="img-circle" src="assets/img/pip.png">
          </div>
          <div class="content">
              <div class="main">
                  <h3 class="name"> PECHEMICAL & INDUSTRIAL PARTNERSHIP</h3>
                  <p class="profession">PIP</p> <br>
                  <h4 class="name"  >Maintenance des installation</h4>
              </div>
              <div class="footer">
                  <i class="fa fa-mail-forward"></i> Auto Rotation
              </div>
          </div>
      </div> <!-- end front panel -->
      <div class="back">
          <div class="header">
              <h5 class="motto"></h5>
          </div>
          <div class="content">
              <div class="main">
                <h4 class="name"><span> P I P</span></h4> <br>
                <h3 class="name">Maintenance des installation</h3>

                  <div class="stats-container">
                      <div class="stats">

                         <p>
                          ===>
                          </p>
                      </div>
                      <div class="stats">
                          <p>
                            <a [routerLink]="['exemple1']" class="nav-link"><button type="button" class="btn btn-outline-info" >More detail</button> </a>
                          </p>
                      </div>
                      <div class="stats">

                          <p>
                            <===
                          </p>

                      </div>
                  </div>

              </div>
          </div>
          <div class="footer">


          </div>

      </div> <!-- end back panel -->
  </div> <!-- end card -->
</div>
</div>
 <div class="col-md-6 col-sm-6">
  <div class="card-container">
    <div class="card">
        <div class="front">
            <div class="cover">
                <img src="assets/img/pip4.png">
            </div>
            <div class="user">
                <img class="img-circle" src="assets/img/pip.png">
            </div>
            <div class="content">
                <div class="main">
                    <h3 class="name"> PECHEMICAL & INDUSTRIAL PARTNERSHIP</h3>
                    <p class="profession">PIP</p> <br>
                    <h4 class="name">Construction & Montage industriel</h4>
                </div>
                <div class="footer">
                    <i class="fa fa-mail-forward"></i> Auto Rotation
                </div>
            </div>
        </div> <!-- end front panel -->
        <div class="back">
            <div class="header">
                <h5 class="motto"></h5>
            </div>
            <div class="content">
                <div class="main">
                  <h4 class="name"><span> P I P</span></h4> <br>
                  <h3 class="name">Construction & Montage industriel</h3>

                    <div class="stats-container">
                        <div class="stats">

                           <p>
                            ===>
                            </p>
                        </div>
                        <div class="stats">
                            <p>
                              <a [routerLink]="['exemple']" class="nav-link"><button type="button" class="btn btn-outline-info" >More detail</button> </a>
                            </p>
                        </div>
                        <div class="stats">

                            <p>
                              <===
                            </p>

                        </div>
                    </div>

                </div>
            </div>
            <div class="footer">

          </div>
        </div> <!-- end back panel -->
    </div> <!-- end card -->
  </div>
</div>
</div>


