 <!-- ======= About Section ======= -->
 <section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About</h2>
      <h3>Find Out More <span>About Us</span></h3>

    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
        <img src="assets/img/pip5.png" class="img-fluid" alt="" >
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <h3>P I P : PECHEMICAL & INDUSTRIAL PARTNERSHIP</h3>
        <p class="font-italic">

        </p>
        <ul>
          <li>
            <i class="bx bx-images"></i>
            <div>
              <h5>DOMAINE D'INTERVENTION PIP</h5>
              <p>PIP intervienne dans tous les domaines d'activites indsustrielles petrochimiq...<a  [routerLink]="['domaine']" class="nav-link">more details</a> </p>

            </div>
          </li>
          <li>
            <i class="bx bx-images"></i>
            <div>
              <h5>SAVOIR FAIRE PIP</h5>
              <p>Chaudonnerie et construction mecanique , Silos et cyclones...<a  [routerLink]="['savoir']" class="nav-link">more details</a></p>
            </div>
          </li>
        </ul>


      </div>
    </div>

  </div>

</section><!-- End About Section -->

<!-- ======= Skills Section ======= -->


<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="icofont-simple-smile"></i>
          <span data-toggle="counter-up">232</span>
          <p>Happy Clients</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="icofont-document-folder"></i>
          <span data-toggle="counter-up">521</span>
          <p>Projects</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="icofont-live-support"></i>
          <span data-toggle="counter-up">1,463</span>
          <p>Hours Of Support</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="icofont-users-alt-5"></i>
          <span data-toggle="counter-up">12</span>
          <p>Hard Workers</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->
<section id="clients" class="clients section-bg">
  <div class="container" data-aos="zoom-in">





  </div>

