<br><br><br><br><br>
<h1>DOMAINE D'INTERVENTION    <span >   P I P </span></h1> <br><br><br>
<div class="container">
<h5>PIP intervienne dans tous les domaines d'activites indsustrielles petrochimiques , environnementales, pharmaceutiques et agroalimentaires et propose un accoppagnement des la phase de conception </h5>
<br><br> </div>
<div class="row">
<div class="col-md-6 col-sm-6">
<app-images></app-images>
    </div>
    <div class="col-md-6 col-sm-6">
<app-later></app-later>
 </div>
  </div>
  <br><br><br>
  <app-footer></app-footer>

