<br><br><br><br><br>
<h1>SAVOIR FAIRE  <span >   P I P </span></h1> <br><br><br> <br> <br> <br>
<div class="row">
  <div class="col-md-6 col-sm-6">
  <app-later1></app-later1>
      </div>
      <div class="col-md-6 col-sm-6">
 <app-images1></app-images1>
   </div>
    </div>
     <br> <br> <br><br>
    <h1>MOYENS MATRERIEKS <span>PIP</span></h1> <br><br><br><br>
    <table class="table table-success table-striped">
      <thead class="nasri">

        <tr>
          <th scope="col"></th>
          <th scope="col">Designation</th>
          <th scope="col"></th>
          <th scope="col">Qte</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><h5> Poste de soudge semi automatique</h5></td>
          <td></td>
          <td><h5>2</h5></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td> <h5> Poste de soudure</h5></td>
          <td></td>
          <td><h5>3</h5></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2"><h5>Decoupeurs Plasma</h5></td>
          <td><h5>2</h5></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><h5>Poste de soudage Arc</h5></td>
          <td></td>
          <td><h5>6</h5></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td><h5>Tour</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td><h5>Fraiseuse radiale</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td><h5>Perceuse radiale</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td><h5>Rouleuse</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td><h5>Cintreuse profiles</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td><h5>Decoupeur plasma numerique</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td><h5>Poinconneuse</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td><h5>Scie mecanique</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td><h5>Compresseur</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td><h5>Sableuse</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">15</th>
          <td><h5>Perceuse magnetique</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">16</th>
          <td><h5>Outillage divers</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">17</th>
          <td><h5>Camion</h5></td>
          <td></td>
          <td><h5>1</h5></td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td><h5>Chariot elevateur</h5></td>
          <td></td>
          <td><h5></h5></td>
        </tr>
      </tbody>
    </table>
    <br><br><br> <br> <br><br>
    <app-footer></app-footer>
