<h3><span>+</span> Chaudronnerie et construction Mecanique</h3>
<h3><span>+</span>Silos et cuclones</h3>
<h3><span>+</span>Goulottes et tremies</h3>
<h3><span>+</span>Reservoirs et tremies</h3>
<h3><span>+</span>Conception et fabrication des equipements de manutention industrielle<span>:</span></h3>
<h3><span>-</span>Convoyage a bandes , a rouleaux et a chaunes</h3>
<h3><span>+</span>Machines specoales<span>:</span></h3>
<h3><span>-</span>Agitateurs</h3>
<h3><span>-</span>broyeurs</h3>
<h3><span>-</span>Equipements de filtration</h3>
<h3><span>-</span>Equipement de flottation</h3>
<h3><span>-</span>Echangeurs</h3>
<h3><span>-</span>Injecteurs soufre liquides</h3>
<h3><span>-</span>Skids pour equipements</h3>
<h3><span>-</span>Pieces mecaniques</h3>
<h3><span>-</span>Realisation d'ensenmbles mecano-soudes chaudronnes</h3>
<h3><span>-</span>charpente metallique</h3>
<h3><span>-</span>batiments industriels</h3>
<h3><span>-</span>pipe rack</h3>
<h3><span>-</span>passerelles</h3>
<h3><span>-</span>tuyauteris industriells</h3>
<h3><span>-</span>maniflods</h3>
